@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: aliceblue;
}

h1 {
    font-style: italic;
}

h3 {
    font-size: 1.2rem;
}

.preview-box {
    margin: 1.5em;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
    background-image: linear-gradient(111.6deg, rgb(158, 44, 211) 27.3%, rgb(247, 110, 110) 112.7%);
    height: 18em;
    width: 18em;
}

input[type='text'] {
    padding-left: 5px;
    width: 19em;
}

input[type='button'] {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    outline: none;
}
input[type='button']:hover {
    background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    background-color: #ccc2a6;
}
input[type='button']:active {
    position: relative;
    top: 1px;
}

.modal {
    color: #14274e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5em;
    width: 18em;
    background-color: rgba(255, 255, 255, 0.74);
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.06s, opacity 0.06s linear;
}

@media screen and (max-width: 560px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .horizontal-radius-range {
        width: 300px;
    }

    .vertical-radius-range {
        width: 300px;
    }
    input[type='range'] {
        margin-bottom: 15px;
    }

    .radius-range {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
